.flexed-row {
    @apply flex flex-row items-center;
}

.flexed-responsive {
    @apply flex flex-col lg:flex-row items-center justify-between;
}

.flexed-column {
    @apply flex h-full flex-col;
}

.flash {
    @apply w-full mb-2 font-bold p-1 align-middle text-slate;
}

.no-escape {
    /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.grid-area-1 {
    grid-area: 1 / 1;
}

.gray-border {
    @apply border border-solid border-gray-300
}

.contained {
    @apply w-auto h-auto object-contain
}

.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #434653;
}
