body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a { 
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
}

/* Overwrite leaflet styles to display popups/tooltips how we want */
.leaflet-tooltip{
  background:none;
  border:none;
  box-shadow:none;
  font-weight:bold;
  font-size:2em;
  color: black;
  padding: none;
}

.leaflet-popup-content{
  width: 500px !important;
}

.fa-spin {
  animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}